
<table>
    <h1>{{aluno.nome}}</h1>
    <tr> <label for="dificuldadesFala">Nivel de Dificuldades Fala</label>
        <td>
            {{aluno.nivel.dificuldadesFala}}
        </td>
    </tr>
    <tr> <label for="dificuldadesEscrita">Nivel de Dificuldades Escrita</label>
        <td>
           {{aluno.nivel.dificuldadesEscrita}}
        </td>
    </tr>
    <tr> Nivel de Dificuldades Auditiva
        <td>
            {{aluno.nivel.dificuldadesAuditiva}}
        </td>
    </tr>
       
   
    <tr> <label for="dificuldadesLeitura">Nivel de Dificuldades Leitura</label>
        <td>
            {{aluno.nivel.dificuldadesLeitura}}
        </td>
    </tr>
</table>

