<h1>Lista de sei la oq </h1>

{{#each rels}}
    <p>{{relatorio}}</p>
    <p>{{auditiva}}</p>
    <p>{{fala}}</p>
    <p>{{escrita}}</p>
    <p>{{leitura}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}