
<h2>Lista de atividades</h2>
<hr>
<a href="/admin/atividades/add"><button class="btn btn-success">Nova atividades</button></a>


{{#each aluno}}
    <div class="card-body">
        <h4 class="mt-4">{{titulo}}</h4>
        <p> {{conteudo}}</p>
        <h6>{{dificuldadesAtv}} anos</h6>
        <a href="/admin/atividade/edit/{{id}}"><button class="btn btn-dark mt-4">Editar atividade</button></a>
    </div>
    <form action="/admin/aluno/deletar" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-danger mt-2">Deletar aluno</button>
    </form>
    {{else}}
<h4 class="mt-4">Nenhuma atividade registrada</h4>
{{/each}}